* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
      /* background: #4499ff; */
      background-size: auto 100vh;
      font-family: 'Audiowide', cursive;
      height: 100vh;
      font-size: 12px;
      width: 100vw;
      background-image: linear-gradient(to bottom, black, #224C80);
    }

    .menu {
        /*background-color: white;*/
        position: fixed;
        width: 20vw;
        font-family: Arial;
        /* box-shadow: black 0px 0px 10px; */
        z-index: 1;
        border-radius: 5px;
        height: 80px;
        font-size: 40px;
        color: white;
        top: 5px;
    }
      
    .menu ul {
        display: flex;
        justify-content: space-around;
    }
      
    .menu li {
        list-style: none;
    }
    
    .menu a {
        display: block;
        padding: 10px 20px;
    }
      
    a {
        color: white;
        text-decoration: none;
    }
      
    a:hover {
        /* text-decoration: underline; */
        text-shadow: #4499ff 0px 0px 10px;
    }

    header {
        height: 10vh;
        width: 100vw;
    }

    .site-title {
        text-align: center;
        position: relative;
        color: white;
        font-size: 4em;
        font-family: 'Baloo Chettan 2', cursive;
    }

    @media (min-width:300px) and (max-width: 370px) {
        .site-title {
            font-size: 3.5em;
        }
    }

    @media (min-width:370px) and (max-width: 500px) {
        .site-title {
            font-size: 3.6em;
        }
    }

    @media (min-width:600px) and (max-width: 800px) {
        .site-title {
            font-size: 5em;
        }
    }

    @media (min-width:800px) and (max-width:950px) {
        .site-subtitle {
            font-size: 4em;
        }
    }

    @media (min-width:950px) and (max-width: 1100px) {
        .site-title {
            font-size: 5em;
        }
    }

    .site-subtitle {
        text-align: center;
        position: relative;
        font-size: 2em;
        color: white;
    }

    @media (min-width:300px) and (max-width: 370px) {
        .site-subtitle {
            font-size: 1.3em;
        }
    }

    @media (min-width:370px) and (max-width: 500px) {
        .site-subtitle {
            font-size: 1.5em;
        }
    }

    @media (min-width:600px) and (max-width: 800px) {
        .site-subtitle {
            font-size: 2.2em;
        }
    }

    @media (min-width:800px) and (max-width:950px) {
        .site-subtitle {
            font-size: 2em;
        }
    }

    @media (min-width:950px) and (max-width: 1100px) {
        .site-subtitle {
            font-size: 2.5em;
        }
    }

    .base {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 20vh;
    }

    .base h1 {
        text-align: center;
    }

    .base h2 {
        text-align: center;
    }

    .barratop {
        position: relative;
        width: 100px;
        padding-top: 0px;
        background-color: #496180;
        border-width: medium;
        border-style: solid;
        border-color: white;
        width: 40vw;
        height: 16vh;
      }

      @media (min-width:300px) and (max-width:400px) {
          .barratop {
              width: 80vw;
              height: 17vh;
          }
      }

      @media (min-width:400px) and (max-width:600px) {
        .barratop {
            width: 80vw;
            height: 15vh;
        }
    }

    @media (min-width:600px) and (max-width:800px) {
        .barratop {
            width: 70vw;
            height: 15vh;
        }
    }

    @media (min-width:800px) and (max-width:900px) {
        .barratop {
            width: 70vw;
            height: 18vh;
        }
    }

    @media (min-width:900px) and (max-width:999px) {
        .barratop {
            width: 70vw;
            height: 15vh;
        }
    }

    @media (min-width:1000px) and (max-width:1100px) {
        .barratop {
            width: 70vw;
            height: 11vh;
        }
    }

      .profile {
          display: flex;
          align-items: center;
          justify-content: center;
      }

      .profile img {
          position: relative;
          border-radius: 50%;
          width: 220px;
          height: 220px;
          border: solid;
          border-color: white;
          z-index: 0;
      }

      @media (min-width:300px) and (max-width: 400px) {
        .profile img{
            width: 170px;
            height: 170px;
        }
      }

      @media (min-width:600px) and (max-width: 800px) {
        .profile img{
            width: 240px;
            height: 240px;
        }
      }

      @media (min-width:800px) and (max-width: 950px) {
        .profile img{
            width: 220px;
            height: 220px;
        }
      }

      @media (min-width:950px) and (max-width: 1100px) {
        .profile img{
            width: 280px;
            height: 280px;
        }
      }

      .about {
          position: relative;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
      }

      .about p {
          margin: 12px;
          padding-left: 10px;
          padding-right: 10px;
          font-size: 1.4em;
          font-family: 'Baloo Chettan 2', cursive;
          color: white;
      }

      @media (min-width:300px) and (max-width:370px) {
          .about p {
              font-size: 1.13em;
          }
      }

      @media (min-width:370px) and (max-width:400px) {
        .about p {
            font-size: 1.3em;
        }
    }

    @media (min-width:600px) and (max-width:800px) {
        .about p {
            font-size: 1.7em;
        }
    }

    @media (min-width:800px) and (max-width:950px) {
        .about p {
            font-size: 1.8em;
        }
    }

    @media (min-width:950px) and (max-width:1100px) {
        .about p {
            font-size: 1.95em;
        }
    }


      .barramid {
        position: relative;
        padding-top: 0px;
        background-color: #496180;
        border-width: medium;
        border-style: solid;
        border-color: white;
        width: 40vw;
        height: 20vh;
      }

      @media (min-width:300px) and (max-width:400px){
          .barramid {
              width: 80vw;
              height: 35vh;
          }
      }

      @media (min-width:400px) and (max-width:600px){
        .barramid {
            width: 80vw;
            height: 35vh;
        }
    }

    @media (min-width:600px) and (max-width:800px){
        .barramid {
            width: 70vw;
            height: 20vh;
        }
    }

    @media (min-width:800px) and (max-width:900px){
        .barramid {
            width: 70vw;
            height: 32vh;
        }
    }

    @media (min-width:900px) and (max-width:1100px){
        .barramid {
            width: 70vw;
            height: 28vh;
        }
    }

    @media (min-width:1000px) and (max-width:1100px){
        .barramid {
            width: 70vw;
            height: 15vh;
        }
    }

    .contato {
        position: relative;
        height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 50px;
    }
    .contato .grid {
        display: grid;
        grid-template-columns: 60px 60px 60px 60px;
    }