* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
      /* background: #4499ff; */
      background-size: auto 100vh;
      font-family: 'Audiowide', cursive;
      height: 100vh;
      font-size: 12px;
      width: 100vw;
      background-image: linear-gradient(to bottom, black, #224C80);
    }

    .menu {
      /*  background-color: white; */
        position: fixed;
        width: 20vw;
        font-family: Arial;
        /* box-shadow: black 0px 0px 10px; */
        z-index: 1;
        border-radius: 5px;
        height: 80px;
        font-size: 40px;
        color: white;
        top: 5px;
    }
      
    .menu ul {
        display: flex;
        justify-content: space-around;
    }
      
    .menu li {
        list-style: none;
    }
    
    .menu a {
        display: block;
        padding: 10px 20px;
    }
      
    a {
        color: white;
        text-decoration: none;
    }
      
    a:hover {
        /* text-decoration: underline; */
        text-shadow: #4499ff 0px 0px 10px;
    }

    header {
        height: 10vh;
        /*background-image:url(../img/wallpaperfrontend.jpg); */
        width: 100vw;
        opacity: 50%;
    }

    .site-title {
        text-align: center;
        position: relative;
        color: white;
        font-size: 4em;
        font-family: 'Baloo Chettan 2', cursive;
    }
    .site-subtitle {
        text-align: center;
        position: relative;
        font-size: 2em;
        color: white;
    }

    .base {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 20vh;
    }

    .base h1 {
        text-align: center;
    }

    .base h2 {
        text-align: center;
    }

    .barratop {
        position: relative;
        width: 100px;
        padding-top: 0px;
        background-color: #496180;
        border-width: medium;
        border-style: solid;
        border-color: white;
        width: 40vw;
        height: 16vh;
      }

      .profile {
          display: flex;
          align-items: center;
          justify-content: center;
      }

      .profile img {
          position: relative;
          border-radius: 50%;
          width: 190px;
          height: 190.px;
          border: solid;
          border-color: white;
          z-index: 0;
      }

      .about {
          position: relative;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
      }

      .about p {
          margin: 12px;
          padding-left: 10px;
          padding-right: 10px;
          font-size: 1.3em;
          font-family: 'Baloo Chettan 2', cursive;
          color: white;
      }

      .barramid {
        position: relative;
        padding-top: 0px;
        background-color: #496180;
        border-width: medium;
        border-style: solid;
        border-color: white;
        width: 40vw;
        height: 20vh;
      }